.flot-1-1 {
	position: relative;
	width: 100%;
	box-sizing: content-box !important;
	padding-top: 100% !important;
}

.flot-4-3 {
	position: relative;
	width: 100%;
	box-sizing: content-box !important;
	padding-top: 75% !important;
}

.flot-3-2 {
	position: relative;
	width: 100%;
	box-sizing: content-box !important;
	padding-top: 66.66% !important;
}

.flot-8-5 {
	position: relative;
	width: 100%;
	box-sizing: content-box !important;
	padding-top: 62.5% !important;
}

.flot-16-9 {
	position: relative;
	width: 100%;
	box-sizing: content-box !important;
	padding-top: 56.25% !important;
}

.flot-plot {
	width: 100%;
	height: 100%;
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.flot-legend .legendLayer .background {
	fill: rgba(255, 255, 255, 0.85);
	stroke: rgba(0, 0, 0, 0.85);
	stroke-width: 1;
}

.legend .legendLayer .background {
	fill: rgba(255, 255, 255, 0.85);
	stroke: rgba(0, 0, 0, 0.85);
	stroke-width: 1;
}

.flot-choice {
}
